<launch>
  <!-- Launch different robots on two teams -->

  <param name="robot_description"
    command="$(find xacro)/xacro '$(find neato_description)/urdf/neato_standalone.urdf.xacro' load_camera:=true use_gpu_laser:=true" />

  <param name="neato"
    command="$(find xacro)/xacro '$(find neato_description)/urdf/neato_standalone.urdf.xacro' load_camera:=true use_gpu_laser:=true"/>

  <!-- BEGIN TEAM 1 -->
  <!-- BEGIN ROBOT 1-->
  <group ns="robot1_1">
    <param name="tf_prefix" value="robot1_1_tf" />
    <include file="$(find computer_vision)/launch/neato.launch" >
      <arg name="init_pose" value="-x 2.972985 -y 2.007690 -z 0 -Y 3.138571" />
      <arg name="robot_name"  value="Robot1_1" />
    </include>
  </group>

  <!-- BEGIN TEAM 2 -->
  <!-- BEGIN ROBOT 1-->
  <group ns="robot2_1">
    <param name="tf_prefix" value="robot2_1_tf" />
    <include file="$(find computer_vision)/launch/neato.launch" >
      <arg name="init_pose" value="-x -4.952779 -y 2.011087 -z 0 -Y -0.008812" />
      <arg name="robot_name"  value="Robot2_1" />
    </include>
  </group>
</launch>